{% extends 'base/base.html' %}

{% block content %}
    <p><a href="{% url 'quality_control:update_feature' featurerequest.id %}">Изменить запрос на улучшение</a></p>
    <p><a href="{% url 'quality_control:delete_feature' featurerequest.id %}" onclick="return confirm('Вы уверены, что хотите удалить этот запрос на улучшение?');">Удалить запрос на улучшение</a></p>
    <h1>{{ featurerequest.title }}</h1>
    <p>{{ featurerequest.description }}</p>
    <p>
        Статус: {{ featurerequest.status }}<br>
        Приоритет: {{ featurerequest.priority }}<br>
        Проект: {{ featurerequest.project }}<br>
        Задача: {{ featurerequest.task }}
    </p>
{% endblock %}